* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.animate-wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.8s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

#arrow {
  animation: 2s upDown infinite;
}

a#link {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

a#link:hover {
  height: 2px;
  border-radius: 3px;
  transform: translateY(-2px);
  text-decoration: underline;
}

/* CSS untuk animasi text-decoration underline */
a {
  text-decoration: none;
  position: relative;
}

a:hover {
  text-decoration: none;
}

.animasi-garis a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Atur tinggi garis underline */
  bottom: 0;
  left: 0;
  background-color: black; /* Atur warna underline sesuai kebutuhan */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.animasi-garis a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.footer-css a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Atur tinggi garis underline */
  bottom: 0;
  left: 0;
  background-color: white; /* Atur warna underline sesuai kebutuhan */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.footer-css a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* 
(THE CODE BELOW IS FOR IMG MAGNIFY)
The Modal (background) 

*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 75%;
  /* max-width: 75%; */
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(2);
  }
}

@keyframes zoom {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1);
  }
}

@-webkit-keyframes zoom-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes zoom-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.out {
  animation-name: zoom-out;
  animation-duration: 0.6s;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
